<html>

<head>
  <%- include('../partials/navbar'); %>
</head>
  <form action="" method="POST">
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
      <%data.forEach( e => {%>
      <tr>
        <td><%=e.name%></td>
        <td><%=e.price%></td>
        <input type="hidden" name="name" value="<%=e.name%>">
        <input type="hidden" name="price" value="<%=e.price%>">
      </tr>
      <input type="submit" value="Add Item To Cart">
      <%})%>
    </table>
  </form>
</html>